[submodule "formulas/postgres-formula"]
	path = formulas/postgres-formula
	url = https://github.com/saltstack-formulas/postgres-formula
    branch = v0.41.5
[submodule "formulas/users-formula"]
	path = formulas/users-formula
	url = https://github.com/saltstack-formulas/users-formula
