[Unit]
Description={{ name }} container
Requires={{ after }}.service
After={{ after }}.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name {{ name }} {{extraargs}} {{ image }}
ExecStop=/usr/bin/docker stop {{ name }}
ExecStop=/usr/bin/docker rm {{ name }}

[Install]
WantedBy=multi-user.target
