[Unit]
Description=IATI Datastore Worker
After=network.target
[Service]
User={{ user }}
Group={{ user }}
WorkingDirectory={{ codedir }}
ExecStart={{ codedir }}/worker.sh
[Install]
WantedBy=multi-user.target
