[Unit]
Description=Prometheus Server
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=simple
ExecStart=/home/{{ user }}/prometheus-{{ pillar.prometheus.server_prometheus_version }}.linux-amd64/prometheus \
    --config.file /home/{{ user }}/conf-prometheus.yml \
    --storage.tsdb.path /home/{{ user }}/data \
    --storage.tsdb.retention.time {{ pillar.prometheus.server_local_storage_retention }} \
    --web.listen-address 127.0.0.1:9057

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
