[Unit]
Description=IATI data dump timer

[Timer]
Unit=iatidatadump-run.service
# Your meant to be able to do a "/3" thing but that didn't work, so just list them manually.
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 03:00:00
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 09:00:00
OnCalendar=*-*-* 12:00:00
OnCalendar=*-*-* 15:00:00
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 21:00:00
Persistent=false

[Install]
WantedBy=timers.target
