[Unit]
Description=Solr Server
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=forking
ExecStart=/home/{{ user }}/solr-9.1.1/bin/solr start \
    -s /home/{{ user }}/data \
    -noprompt
ExecStop=/home/{{ user }}/solr-9.1.1/bin/solr stop
KillMode=process
Environment=SOLR_LOGS_DIR=/home/{{ user }}/logs


[Install]
WantedBy=multi-user.target
