{% for deploy in pillar.grantnav.deploys %}
{% if not public or deploy == 'current' %}
<h2>{{deploy}}</h2>
{% for branch in pillar.grantnav.branches %}
<h3>branch {{branch}}</h3>
<ul>
{% for dataselection in pillar.grantnav.dataselections %}
<li>
<a href="http://{% if not public %}{{pillar.htpasswd_user}}:{{pillar.htpasswd_password}}@{% endif %}{{deploy}}.{{dataselection.replace('_', '-')}}.{{branch[:30]}}.{{grains.fqdn}}/">
{{dataselection.replace('_', '-')}}
</a>
</li>
{% endfor %}
</ul>
{% endfor %}
{% endif %}
{% endfor %}
