[Unit]
Description=IATI Tables Datesette
After=network.target

[Service]
EnvironmentFile={{ datasette_dir }}/iatitables-datasette.env
User={{ user }}
Group={{ user }}
Type=simple
ExecStart={{ datasette_dir }}/.ve/bin/datasette serve -i {{ web_data_dir }}/iati.sqlite -h 127.0.0.1 -p 8080 --setting sql_time_limit_ms 50000 --setting max_returned_rows 1200000 --setting num_sql_threads 16 --setting default_page_size 50 --setting suggest_facets off
WorkingDirectory={{ datasette_dir }}
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
